.detailsContainer {
  display: flex;
  padding: 40px;
}

.poster {
  height: 480px;
}

.moreDetailsFilm {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 20px 40px;
}

.filmInfo {
  padding: 5px 10px;
  color: #fff;
  border-radius: 10px;
  background-color: #07de1d;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.filmInfo:hover {
  background-color: #03f81b;
}

.filmText {
  display: flex;
  gap: 10px;
}

.goBack {
  font-size: 30px;
  transition: transform 0.3s ease-in-out;
}

.goBack:hover {
  transform: scale(1.1);
}

.iconContainer {
  display: flex;
  align-items: center;
}

.iconStar {
  color: #ecf803;
}

.detailsMovie {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
