.castTitle {
  padding-left: 40px;
}

.castContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  gap: 40px;
}

.actorContainer {
  width: 250px;
}

.actorImg {
  margin-bottom: 20px;
}
