.btnContainer {
  display: flex;
  margin: 0;
  padding: 20px 0 20px 40px;
  gap: 20px;
}

.btnItem {
  cursor: pointer;
  border: none;
  border-bottom: 3px solid #03f81b;
  border-radius: 7px;
  color: #000000;
  background-color: inherit;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.btnItem:hover {
  color: #03f81b;
  border-bottom: 3px solid #424242;
}
