.containerLoadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.arrow {
  font-weight: bold;
  color: rgba(4, 4, 4, 0.3);
  transition: color 0.3s ease-in-out;
}

.btnMovies {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  border: 3px solid rgba(4, 4, 4, 0.1);
  border-radius: 50%;
  background-color: inherit;
  transition: border 0.3s ease-in-out;
}

.btnMovies:hover {
  border: 3px solid rgba(4, 4, 4, 0.8);
}

.btnMovies:hover .arrow {
  color: rgba(4, 4, 4, 1);
}
